<nav class="nav">
  <a href="/passwords">
    <h1 class="nav--logo">LockD</h1>
  </a>
  <i class="fa-solid fa-lock"></i>
  <div class = "login_register">
      <a class="button" href="/login">Log in</a>
      <a class="button" href="/register">Register</a>

  </div>

<!-- CLIPBOARD FUNCTION TO BE MOVED TO PASSWORDS -->
<div class="button">
<input type="text" id="myInput">
<button onclick="myFunction()">Copy to Clipboard</button>

<script>
function myFunction() {

const copyText = document.getElementById("myInput");

copyText.select();
copyText.setSelectionRange(0, 99999);

navigator.clipboard.writeText(copyText.value);

alert("Copied the text: " + copyText.value);
}

</script>
</div>
<!-- END OF CLIPBOARD FUNCTION -->
</nav>