<nav class="nav">
  <a href="/passwords">
    <h1 class="nav--logo">LockD</h1>
  </a>
  <i class="fa-solid fa-lock"></i>
  <div class="login_register">
    <a class="button" href="/login">Log in</a>
    <a class="button" href="/register">Register</a>
  </div>
</nav>
