<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  <meta name="author" content="Lisa Meyer, Michael Law, Trishnarjun Kunamalla">

  <title>LockD</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Corben:wght@700&family=Play:wght@400;700&family=Red+Hat+Mono:ital,wght@0,300;0,500;1,300;1,500&display=swap" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/styles.css" type="text/css" />

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/ced3b5fb1a.js" crossorigin="anonymous"></script>

  <!-- JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/login.js"></script>
</head>

<body>

  <%- include('partials/_header') %>

  <!-- START OF MAIN -->
  <main>
    <h2>Log in</h2>
    <article class="">
      <!-- login when submit -->
      <form method="POST" action="/login" class="login_form">
        <div class="">
          <input type="text" name="name" placeholder="Name">
        </div>
        <div class="">
          <input type="password" name="password" placeholder="Password">
        </div>
        <div class="">
          <input type="text" name="org" placeholder="Organisation">
        </div>
        <div>
            <button type="submit">Log in</button>
        </div>
      </form>
    </article>
  </main>
  <!-- END OF MAIN -->
</body>

</html>

