<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  <title>LockD-Vault</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/new_password.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/new_password.js"></script>
</head>

<body>

  <%- include('partials/_header') %>

  <!-- START OF MAIN -->
  <main>
    <h2>Add Password to the Vault</h2>
    <article class=""> <!-- DEFINE CLASS LATER -->
      <!-- AJAX request to filter page by category -->
      <form method="POST" action="/passwords" class="new-password__form">
        <label>Website</label>
        <input type="text" name="website" placeholder="Website Name" >
        <label>Username</label>
        <input type="text" name="username" placeholder="Username" >

        <p>Generated Password: <span class="new-password"></span></p>

        <p>Options</p>
        <select name="category">
          <option value="null"></option>
          <option value="social">Social</option>
          <option value="entertainment">Entertainment</option>
          <option value="productivity">Productivity</option>
          <option value="banking">Banking</option>
          <option value="health_wellness">Health & Wellness</option>
          <option value="misc">Miscellaneous</option>
        </select>
        <div>
          <input type="checkbox" name="upperase">
          <label>Uppercase</label>
        </div>
        <div>
          <input type="checkbox" name="lowercase">
          <label>Lowercase</label>
        </div>
        <div>
          <input type="checkbox" name="symbols">
          <label>Symbols</label>
        </div>
        <div class="slidecontainer">
          <label>Length</label>
          <input type="range" min="8" max="128" step="1" value="16" class="slider" id="password-range" oninput="this.nextElementSibling.value = this.value">
          <input type="text" id="value" value="16">
        </div>


      </form>
    </article>
  </main>
  <!-- END OF MAIN -->
</body>

</html>

