<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  <meta name="author" content="Lisa Meyer, Michael Law, Trishnarjun Kunamalla">

  <title>LockD</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Corben:wght@700&family=Play:wght@400;700&family=Red+Hat+Mono:ital,wght@0,300;0,500;1,300;1,500&display=swap" rel="stylesheet">

  <!-- Styles -->
  <link rel="stylesheet" href="/styles/new_password.css" type="text/css" />
  <link rel="stylesheet" href="/styles/styles.css" type="text/css" />

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/ced3b5fb1a.js" crossorigin="anonymous"></script>

  <!-- JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/new_password.js" defer></script>
</head>

<body>

  <%- include('partials/_header') %>

  <!-- START OF MAIN -->
  <main>
    <h2>Lock it in the Vault</h2>
    <article>
      <form action="/passwords" method="POST" class="new-password__form" id="new-password__form">
        <label hidden>Website</label>
        <input type="text" name="website" placeholder="Website Name" id="website" required>
        <label hidden>Username</label>
        <input type="text" name="username" placeholder="Username" id="username" required>
        <p>Choose a Category:</p>
        <select name="category" id="category" required>
          <option value="null"></option>
          <option value="social">Social</option>
          <option value="entertainment">Entertainment</option>
          <option value="productivity">Productivity</option>
          <option value="banking">Banking</option>
          <option value="health_wellness">Wellness</option>
          <option value="misc">Miscellaneous</option>
        </select>

        <article class="new-password__container">
          <h2>Password Generator</h2>

          <input type="hidden" class="password-generated" name="password">
          <span id="new-password"></span>

          <article class="options">
            <div>
              <input type="checkbox" id="uppercase">
              <label>Uppercase</label>
            </div>
            <div>
              <input type="checkbox" id="lowercase">
              <label>Lowercase</label>
            </div>
            <div>
              <input type="checkbox" id="number">
              <label>Numbers</label>
            </div>
            <div>
              <input type="checkbox" id="symbol">
              <label>Special characters</label>
            </div>
          </article>
          <div class="slidecontainer">
            <label>Length</label>
            <input type="range" min="8" max="128" step="1" value="16" id="length" class="slider" id="password-range" oninput="this.nextElementSibling.value = this.value">
            <input type="text" id="value" value="16">
          </div>
          <input type="button" id="generate-password" value="Generate"/>
        </article>
        <input type="submit" id="submit-btn" value="Submit"/>
      </form>
    </article>
  </main>
  <!-- END OF MAIN -->
</body>

</html>

