<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  <title>LockD-Vault</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

  <%- include('partials/_header') %>

  <!-- START OF MAIN -->
  <main>
    <h2>Welcome: "username" </h2>
    <article class=""> <!-- DEFINE CLASS LATER -->
      <form method="GET" action="/new_passwords" >
        <button type="submit">Create New</button>
      </form>
      <!-- AJAX request to filter page by category -->
      <form method="POST" action="">
        <button type="submit">Filter By</button>
      </form>
    </article>

    <!-- most likely will be part of js file for AJAX -->
    <section id="password-container">
      <article class="password-info">
        <p>Company</p>
        <p>username</p>
        <p>password <span>Clipboard</span></p>
        <p>Tag</p>
      </article>
    </section>

  </main>
  <!-- END OF MAIN -->

  <!-- <h1> Password storage for the masses! 🥔</h1> -->
</body>

</html>
