#password-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  .password-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: $gutter;
    margin: $gutter;
    border: 3px solid $indigo;
    height: $gutter * 25;
    width: $gutter * 18;
    overflow-wrap: break-word;
    word-break: break-all;
    background-color: $grey;

    section {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;

      i {
        // margin: 0 $gutter;
        color: $indigo;
      }

      h3,
      h4 {
        margin-bottom: 0;
        margin: 0 $gutter;
        text-decoration: none;
      }

      div {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: $gutter;

        button {
          background-color: transparent;

          i:active {
            color: $green;
          }
        }
      }
      :hover {
        color: $blue;
      }
    }
  }
}
