#password-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  .password-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: $gutter;
    margin: $gutter;
    border: 3px solid $indigo;
    height: $gutter * 25;
    width: $gutter * 15;
    word-break: break-all;

    section {

      h3,
      h4 {
        margin-bottom: $gutter;

        i {
          margin: 0 $gutter;
        }
      }

    }
  }
}
