.new-password__form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .hidden {
    display: none;
  }

  input {
    margin: 0.5rem;
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: 25px;
  }

  select {
    border-radius: 25px;
    border: none;
    outline: none;
    padding: .5rem;
    width: 15rem;
  }

  .slidecontainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;

    .slider {

      :hover {
        opacity: 1;
      }

    }
    #value {
      border: none;
      outline: none;
      background: none;
    }
  }
}



