body {
  margin: 3rem;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 3px solid black;
  border-radius: 25px;
  padding: 1.75rem;

  .register__form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .hidden {
      display: none;
    }

    button {
      border-radius: 25px;
      border: none;
      outline: none;
      padding: 1rem;
      width: auto;
    }

    input {
      margin: 0.5rem;
      padding: 1rem;
      border: none;
      outline: none;
      border-radius: 25px;
    }

    select {
      border-radius: 25px;
      border: none;
      outline: none;
      padding: 0.5rem;
      width: 15rem;
    }

    .new-password__container {
      border: 2px solid black;
      border-radius: 25px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      margin: 1rem;

      // #new-password {
      // }

      .slidecontainer {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        width: 50%;

        .slider {
          :hover {
            opacity: 1;
          }
        }
        #password-range {
          width: 10rem;
        }
        #value {
          border: none;
          outline: none;
          background: none;
          width: 4rem;
          padding: 0;
          margin: 0;
          text-align: center;
        }
      }
    }
  }
}

main:hover {
  box-shadow: 10px 9px 13px -7px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 10px 9px 13px -7px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 10px 9px 13px -7px rgba(0, 0, 0, 0.47);
}
